/*	index.css
	William Habsburg 000869622
	Styles for Assignment 1
	2022-01-13
*/

/* global styles */

* {
 margin:0;
 border:0;
 padding:0;
 text-decoration:none;
 font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: black;
}

a:hover {
	text-decoration: underline;
}

/* Header styles */

header {
	background-color: blue;
}

header>div {
	max-width: 768px;
	margin: 0px auto;
}

header h1, header h3 {
	text-align: center;
	color: white;
}

/* Main area styles */

#content {
	background-color: black;
	color: white;
	padding: 20px 0px;
}

#innerContent {
	margin: 0px auto;
	max-width: 768px;
	display: flex;
	flex-wrap: wrap;
}

.tile {
	width: 350px;
	background-color: black;
	min-height: 300px;
	padding: 15px;
}

ul {
	list-style: none;
}

/* footer styles */

footer {
	border-top: 2px solid blue;
	background-color: #444;
	display: block;
}

footer div {
	max-width: 768px;
	text-align: center;
	color: white;
	margin: 0px auto;
}