/* William Habsburg
   000869622
   Assignment 5 CSS file
   This is a helicopter game in SVG
*/

* {
 margin:0;
 border:0;
 padding:0;
 text-decoration:none;
 font-family: Arial, Helvetica, sans-serif;
}

.rotor {
    stroke: green;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: rotor .2s linear alternate infinite;
}

.copter {
    stroke: green;
    fill: none;
}

#game {
    position: relative;
}

#helicopter {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100;
}

#background {
    fill: black;
}

#highscore {
    display: inline;
}

#score {
    font-family: 'Courier New', Courier, monospace;
}
    
@keyframes rotor {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}
