/* Author: William Habsburg 000869622 */
body {
	width: 90%;
	font-family: Verdana,Geneva,Arial,sans-serif;
}

h1 {
	background-color: lightblue;
	color: purple;
	text-align: center;
	font-family: Arial;
}

h2 {
	background-color: darkmagenta;
	color: lightgrey;
	font-family: Calibri;
}

footer {
	background-color: lightblue;
	text-align: center;
}