/*
Name: 			Willaim Habsburg
Student Number:	000869622
Date:			2021-11-30
Description:	Lab 5
*/

/* ===============================
   Mobile Styles: 0px to 599px 
   ===============================
*/
@media only screen and (max-width: 599px) {

	nav ul li a {
		width: calc(100% - 42px);
		display: block;
	}
	
	nav ul{
		margin: 0px;
		padding: 0px;
	}
	
}

/* =============================================
   Tablet and Desktop Styles: 600px to 899px
   =============================================
*/
@media only screen and (min-width: 600px) and (max-width: 899px) {
	nav ul {
		display: flex;
		flex-flow:row wrap;
		justify-content: center;
	}
	
	nav ul li {
		flex:0 0 150px;
		margin: 0px 0px 21px 0px;
	}
	
}

/* =============================================
   Tablet and Desktop Styles: greater than 900px
   =============================================
*/
@media only screen and (min-width: 900px) {
	nav ul {
		display:grid;
		grid-template-columns:repeat(7,1fr);
	}
	
	nav ul li {
		text-align: center;
	}
	
}