/*
Name: 			Willaim Habsburg
Student Number:	000869622
Date:			2021-12-02
Description:	Lab 6
*/

h1 {
	text-align: center;
}

h2 {
	background-color: #ee0;
	width: 100%;
}

h3 {
	background-color: orange;
	width: 100%;
}

footer.mainFooter {
	text-align: center;
	font-size: .85em;
}

table {
	border-collapse: collapse;
}

table th {
	text-align: left;
	background-color: lightgrey;
	border: 2px solid black;
}

table td {
	border: 2px solid black;
}

tfoot td {
	background-color: aqua;
}

#gallery div {
	width: 200px;
	padding: 0px;
}

.mainRooms>img {
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

p.centered {
	text-align: center;
}