/*
Name: 			Willaim Habsburg
Student Number:	000869622
Date:			2021-11-30
Description:	Lab 5
*/

/* Setting padding and margins to zero */
body {
	margin: 0px;
	padding: 0px;
}

/* Header Styles */
header {
	display: block;
	width: 100%;
	background-color: #E9EFFF;
	margin: 0px;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
}

header h1 {
	margin: 0px;
	padding: 0px;
}


/* nav styles */
nav ul {
	list-style: none;
}

nav ul li {
}

nav ul li a {
	padding: 10px 20px;
	border: 1px solid black;
	border-bottom: none;
	background-color: #A3AABC;
	border-top-right-radius: 10px;
}

/* footer styles */
footer {
	padding: 20px;
	text-align: center;
	border-top: 2px solid black;
}